<p id="notice"><%= notice %></p>

<h1>
  <%= User.find(@evaluator.user_id).to_label %>
</h1>

<p>
  <b>Field:</b>
  <%= @evaluator.field_name %>
</p>

<p>
  <b>Address:</b>
  <%= @evaluator.address %>
    <%= @evaluator.city %>, <%= @evaluator.state %> <%= @evaluator.zip_code %>
</p>


<p>
  <b>Agreement:</b>
  <%= @evaluator.agreement %>
</p>

<br />

<% @assignments = get_all_assignments_for_evaluator(@evaluator.id) %>
<%# @assignments = @assignments.paginate :page => params[:page], :per_page => 10 %>

<% if @assignments.nil? || @assignments.empty? %>
  <p>There are no evaluators scoring the application yet.</p>
  <% else %>
  <%= render :partial => 'partials/assigned_projects', :locals => {:assignments=> @assignments} %>
<% end %>


<%= render :partial => 'partials/assign_projects_to_evaluator',:locals => { :button_name => "Create", :evaluators => @evaluator} %>



<br />
<br />
<br />
<br />

