<p>
<%=button_to "Download File", :action=>'download'%>
</p>

</br>
<%= semantic_form_for @assignment  do |f| %>

   <%= f.inputs do %>
   <% if (@assignment.application_id.nil? || current_user.admin? || current_user.staff?) %>
      <%= f.input :application_id, :as => :select,  :collection => Application.all.each{|a| a.application_name}, :required => true, :label_method => :to_label, :include_blank => true %>
      <% else %>
      <h2> <%= Application.find(@assignment.application_id).application_name %> </h2>
     <% end %>

     <% if (@assignment.evaluator_id.nil? || current_user.admin? || current_user.staff?) %>

    <%= f.input :evaluator_id, :as => :select, :collection => Evaluator.all.each{|e| User.find(e.user_id)}, :required => false, :label_method => :to_label, :label => 'Evaluator ID'%>
     <% end %>
<% if (!@assignment.application_id.nil?) %>
     <%= f.input :research_score, :as => :numeric, :label => 'Research Score'%>
    <%= f.input :scientific_potential, :as => :numeric, :label => 'Scientific Potential Score'%>
    <%= f.input :entry_score, :as => :numeric, :label => 'Entry Score'%>

    <%= f.input :flag, :as => :boolean, :label => 'This application violates the rules of eligibility' %>
</p>
<% end %>
   
  
  <%end %>

  <%= f.buttons do %>
  <%= f.commit_button %>
  <% end %>
<% end %>