<p id="notice"><%= notice %></p>

<p>
<%=button_to "Download File", :action=>'download'%>
</p>

<p>
  <b>Application:</b>
  <%= Application.find(@assignment.application_id).application_name %>
</p>

<p>
  <b>Evaluator:</b>
  <%= User.find(Evaluator.find(@assignment.evaluator_id).user_id).first_name %>
</p>

<p>
  <b>Scores:</b>
  <%= @assignment.research_score %>
  <%= @assignment.entry_score %>
  <%= @assignment.scientific_potential %>
</p>

<p>
 <b>Does this application violate the rules of eligibility?  </b>
 <%= @assignment.flag %>
</p>
</p>

<% if current_user.staff? or current_user.admin? %>
<%= link_to 'Edit', edit_assignment_path(@assignment) %> 
 | <%end%>
<%= link_to 'Back to Applications', "/" %>
