
<%=button_to "Import Projects", :action=> 'parse'  %>

<br />

<h1 class = "left" >All Applications</h1>


<%= form_for @search do |f| %>
  <p class = "right">
    <%= f.text_field :application_name_or_applicant_or_field_name_contains %>
     <%= f.submit "Search" %>
  </p>
<% end %>
<br />
<br />



<table  class="pretty">
  <tr>
    <th><%= sortable "application_name", "Application Name" %></th>
    <th><%= sortable "field_name", "Field" %></th>
    <th><%= sortable "applicant" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>



<% @applications.each do |application| %>
  <tr>
  <td><%= application.application_name %></td>
    <td><%= application.field_name %></td>
    <td><%= application.applicant %></td>
    
    <td><%= link_to 'Show', application %></td>

    <% if can? :update, application %>
     <td><%= link_to image_tag("icons/edit_dg.gif", :border => 0), edit_application_path(application) %>&nbsp;</td>
    <% end %>
      <% if can? :destroy, application %>
      <td><%= link_to image_tag("icons/delete_dg.gif", :border => 0), application , :confirm => 'Are you sure you wish to delete this application? Evaluators that have been assigned to score this application will no longer be assigned to score this appliecation, and you will lose any of the scores they have already entered in!', method: :delete %>&nbsp;</td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<div class="digg_pagination">
    <div clas="page_info">
      <%= page_entries_info @applications %>
    </div>
    <%= will_paginate @applications, :container => false %>
</div>

<%= link_to 'New Application', new_application_path %>

